#OpenWeatherMap
WEATHER_API_KEY=ENTER_YOUR_API_KEY_HERE
WEATHER_API_BASE_URL=https://api.openweathermap.org/data/2.5/forecast

#GeoAPI
GEO_API_URL=https://ipinfo.io
GEO_API_FALLBACK_CITY=ENTER_YOUR_CITY_HERE

#Db
DB_URL=sqlite:///weather_forecast.db
#DB_USER=ENTER_YOUR_USERNAME_HERE
#DB_PASSWORD=ENTER_YOUR_PASSWORD_HERE

#Other
#ENVIRONMENT=development
OUTPUT_FILE=ENTER_YOUR_FILENAME_HERE
